@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to TigerTix!</h1>
    <p class="lead">Your one-stop destination for event tickets.</p>
    <hr class="my-4">
    <p>Discover events and buy tickets easily.</p>
    <a class="btn btn-primary btn-lg" href="/Events" role="button">Browse Events</a>
</div>